*{
    margin: 0px;
    padding: 0 px;
    font-family: "Roboto", Arial, Tahoma, sans-serif;
}

header{
    position:fixed;
    width: 100%;
    height: 70px;  
    background-color: #38b2f0;
    
}

#encabezado{
    position:fixed;
    width: 100%;
    height: 70px;
    background-color: #38b2f0;
    display: flex;
    justify-content: space-between;
    
}
#encabezado a{
    color: #f8f8f8;
    font-size: 1.5em;
    
    line-height: 70px;
    padding: 15px 10px;

}

#encabezado nav ul{
    float: top;
    list-style: none;
    text-align:right;
}
nav li{
    list-style-type: none;
    padding: 10px;
    display:inline;
    
    
}
nav li a{
    
    font-size: 1em;
    text-decoration: none;
    line-height: 70px;
    padding: 15px 10px;
    color: #b9b4b4;
    transition: color 0.3s ease;
}
nav li a:hover{
    color: #000000;
}
main section{
  padding: 100px 0px;
  background-image: url("");
  background-size: cover;
  background-position: center;
}
.container{
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px ;
    justify-content:space-between;
    display: flex;


}

h2{
    text-align: center;
}
