div.a {
    padding-top: 10px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 30px;
    background-color:pink;
  }
  div.b { /*Propiedad corta*/
    padding: 30px 50px 80px 40px;
    background-color: darkseagreen;
  }


  div{
    border-color: blue;
    border-style: ridge;
    border-radius: 2em;
  }