.a  { font-family: "Times New Roman", Times, serif; }
.b  { font-family: Arial, Helvetica, sans-serif; }

.a  { font-size: 20px; }
.b  { font-size: 2em; }
.d  { font-size: small; }
.negrita  { font-size: 250%; }


